main{
    grid-area: main;
    background: var(--body-bg);
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 28px;
    background: var(--off-white);
}