.cards__cntnr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 16px;
    background: var(--metric-cards-bg);
    border-radius: 8px;
    padding-block: 12px;
    /* overflow: hidden; */
    /* overflow-y: auto; */
    /* max-inline-size: 1034px; */
    /* flex-wrap: wrap; */
}

.card{
    /* background: rgb(9, 5, 37); */
    block-size: 115px;
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
}

.part{
    /* background: red; */
    block-size: 100%;
}

.card__icon{
    inline-size: 44px;
}

.card__data{
    flex: 1;
}

.icon__cntnr{
    block-size: 44px;
    inline-size: 44px;
    background: var(--icon-cntnr-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.icon__cntnr svg{
    block-size: var(--metric-card-svg);
    inline-size: var(--metric-card-svg);
    fill: #969696;
}

.data__cntnr{
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.data__type{
    font-size: var(--subtab-font-size);
    font-weight: 500;
    color: #969696;
}

.qnty__cntnr{
    font-size: var(--card-data-font-size);
    font-weight: 600;
    color: var(--card-data-font-color);
}

.analytics-cntnr{
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* color: ; */
    color: gray;
}

.analytics-cntnr p:first-child{
    font-size: var(--card-data-font-size);
    font-weight: 600;
    color: var(--card-data-font-color);
    letter-spacing: 1px;
}

.analytics-cntnr p:last-child{
    font-size: var(--menu-font-size);
    font-weight: 500;
    color: gray;

}

.data__qnty{
    font-size: var(--card-data-font-size);
    font-weight: 600;
    color: var(--card-data-font-color);
}

.data__analytics{
    color: var(--uptime-color);
    letter-spacing: 0.5px;
}